
.hh1{
    color: black;
}
.containert{
    width: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;

}
    .tt {
        width: 100%; /* ou une autre valeur appropriée */
        font-size: 12px;
        

      }
      
.ttt{
    width: auto;
}
.tdt{
    width: 90px;
    height: 50px;
    border: 1px solid #2c6cf5;
    font-weight: bold;
    text-align: center;
}
.tdt button{
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.61);
    border: none;
}